@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<CongNghePhanMem.Models.LoaiSach>

@{
    ViewBag.Title = "Loại";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Loại sách</h2>

<p>
    <i class="fa fa-address-card" aria-hidden="true">@Html.ActionLink("Thêm mới", "ThemLoai")</i>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenLoai)
        </th>
        <th>Thao tác</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Xóa", "XoaLoai", new { @MaLoai=item.MaLoai, @onclick = "return confirm('Bạn chắc chắn muốn xóa?')" })
        </td>
    </tr>
}
</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("LoaiSach", new { page = page }))