@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<CongNghePhanMem.Models.VietSach>

@{
    ViewBag.Title = "Viết sách";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Tác giả tham gia viết sách</h2>

<p>
    <i class="fa fa-address-card" aria-hidden="true">@Html.ActionLink("Thêm mới", "ThemVS")</i>
</p>
<table class="table">
    <tr>
        <th>
            Tên tác giả
        </th>
        <th>
            Tên sách
        </th>
        <th>
            Vai trò
        </th>
        <th>
            Vị trí
        </th>
        <th>Thao tác</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TacGia.TenTG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sach.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaiTro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViTri)
        </td>
        <td>
            @Html.ActionLink("Xóa", "XoaVS", new { @MaSach=item.MaSach,@MaTG=item.MaTG, @onclick = "return confirm('Bạn chắc chắn muốn xóa?')" })
        </td>
    </tr>
}

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("VietSach", new { page = page }))
