@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<CongNghePhanMem.Models.ChiTietKhuyenMai>

@{
    ViewBag.Title = "Chi tiết khuyến mãi";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<p>
    <i class="fa fa-address-card" aria-hidden="true">@Html.ActionLink("Thêm sách mới", "ThemSachKM")</i>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiamGia)
        </th>
        <th>Thao tác</th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Sach.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiamGia)
        </td>
        <td>
            @Html.ActionLink("Xóa", "XoaSachKM", new { @MaKM = item.MaKM, @MaSach = item.MaSach, @onclick = "return confirm('Bạn chắc chắn muốn xóa?')" })
        </td>
    </tr>
}
</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("ChiTietKM", new { page = page }))
