@model IEnumerable<CongNghePhanMem.Models.GiaoDien>

@{
    ViewBag.Title = "Thông Tin WebSite";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Sửa thông tin Website</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThuocTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTri)
        </th>
        <th>Thao tác</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThuocTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTri)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaThongTin", new { id=item.ID })
        </td>
    </tr>
}

</table>
