@model CongNghePhanMem.Models.TinTuc

@{
    ViewBag.Title = "ThemTT";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>ThemTT</h2>

@using (Html.BeginForm("ThemTT", "QuanLyTinTuc", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TinTuc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên tin tức..." } })
                @Html.ValidationMessageFor(model => model.TenTT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <textarea name="MoTa" placeholder="Nhập mô tả...">-</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnhBia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileUpload" />
                @ViewBag.ThongBao
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}
