<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- The styles -->
    <link id="bs-css" href="@Url.Content("~/templatebackend/")css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="@Url.Content("~/templatebackend/")css/charisma-app.css" rel="stylesheet">
    <link href='@Url.Content("~/templatebackend/")bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='@Url.Content("~/templatebackend/")bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='@Url.Content("~/templatebackend/")bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='@Url.Content("~/templatebackend/")bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='@Url.Content("~/templatebackend/")css/jquery.noty.css' rel='stylesheet'>
    <link href='@Url.Content("~/templatebackend/")css/noty_theme_default.css' rel='stylesheet'>
    <link href='@Url.Content("~/templatebackend/")css/elfinder.min.css' rel='stylesheet'>
    <link href='@Url.Content("~/templatebackend/")css/elfinder.theme.css' rel='stylesheet'>
    <link href='@Url.Content("~/templatebackend/")css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='@Url.Content("~/templatebackend/")css/uploadify.css' rel='stylesheet'>
    <link href='@Url.Content("~/templatebackend/")css/animate.min.css' rel='stylesheet'>
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/js/themxoasuaajax.js")"></script>
    <script src="~/js/B2BAdmin.js"></script>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="@Url.Content("~/templatebackend/")img/favicon.ico">
    <!--Js Alert message-->
    <script src="~/templatebackend/js/alert-message.js"></script>
    <!--Thống kê js.min-->
    <script src="~/Content/js/Chart.min.js"></script>
    <!--Script tiny mce-->
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    <!--font asomeway-->
    <link href="~/Content/font-awaysome/css/font-awesome.min.css" rel="stylesheet" />

    <!--Thống kê theo time-->
    <script src="~/js/thongke.js"></script>

</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>Xin chào<span class="hidden-sm hidden-xs"> @User.Identity.Name </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("ThongTin","Admin")">Thông tin</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("LogOut","Admin")">Đăng xuất</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->
            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="@Url.Action("Index","Home")"><i class="glyphicon glyphicon-globe"></i> Về trang chủ</a></li>

            </ul>
        </div>
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">

            <!-- left menu starts -->
            <div class="col-sm-2 col-lg-2">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">
                        </div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            <li>
                                <a class="ajax-link" href="@Url.Action("Index","Admin")"><i class="glyphicon glyphicon-home red"></i><span style="font-weight: bold; color:#ff0000">MENU</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-gift red"></i><span style="font-weight: bold; color:#ff0000"> Khu vực sách</span></a>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="@Url.Action("XemSach","QuanLySach")">Quản lý sách</a></li>
                                    <li><a href="@Url.Action("LoaiSach","QuanLySach")">Quản lý loại sách</a></li>
                                    <li><a href="@Url.Action("ChuDe","QuanLySach")">Quản lý chủ đề sách</a></li>
                                    <li><a href="@Url.Action("TacGia","QuanLySach")">Quản lý tác giả</a></li>
                                    <li><a href="@Url.Action("NhaXuatBan","QuanLySach")">Quản lý nhà xuất bản</a></li>
                                    <li><a href="@Url.Action("KhuyenMai","QuanLyKhuyenMai")">Quản lý khuyến mãi</a></li>
                                    <li><a href="@Url.Action("VietSach","QuanLySach")">Quản lí viết sách</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><i class="glyphicon glyphicon-user red"></i><span style="font-weight: bold; color: #ff0000;"> Khu vực thành viên</span></a>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="@Url.Action("NguoiDung","QuanLyNguoiDung")">Quản lý người dùng</a></li>
                                    <li><a href="@Url.Action("TinhTrang","QuanLyNguoiDung")">Quản lý tình trạng</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><i class="glyphicon glyphicon-plus-sign red"></i><span style="font-weight: bold; color: #ff0000;">Nhà cung cấp</span></a>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="@Url.Action("NhaCungCap","QuanLyNhaCungCap")">Danh sách nhà cung cấp</a></li>
                                    <li><a href="@Url.Action("HopDong","QuanLyNhaCungCap")">Hợp đồng</a></li>
                                </ul>
                            </li>


                            <li>
                                <a href="#"><i class="glyphicon glyphicon-briefcase red"></i><span style="font-weight: bold; color: #ff0000;">Đơn hàng - Hóa đơn</span></a>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="@Url.Action("DonHang","DonHang")">Đơn hàng của khách</a></li>
                                    <li><a href="@Url.Action("DonHangDD","DonHang")">Đơn hàng đã duyệt</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><i class="glyphicon glyphicon-heart red"></i><span style="font-weight: bold; color: #ff0000;">Tin tức & Ý kiến</span></a>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="@Url.Action("TinTuc","QuanLyTinTuc")">Cập nhật tin tức cửa hàng</a></li>
                                    <li><a href="@Url.Action("YKien","QuanLyTinTuc")">Ý kiến của khách hàng</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><i class="glyphicon glyphicon-list-alt red"></i><span style="font-weight: bold; color: #ff0000;"> Khu vực thống kê</span></a>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="@Url.Action("Index","ThongKe")">Doanh thu hàng tháng</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-cog red"></i><span style="font-weight: bold; color: #ff0000;"> Cài đặt web</span></a>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="@Url.Action("ThongTinWeb","Admin")">Sửa thông tin web</a></li>
                                    <li><a href="@Url.Action("SuaMap","Admin")">Sửa thông tin google map</a></li>
                                    <li><a href="@Url.Action("TheNganHang","Admin")">Sửa thông tin thẻ ngân hàng</a></li>
                                    <li><a href="@Url.Action("SuaFB","Admin")">Liên kết mạng xã hội</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!--/span-->
            <!-- left menu ends -->
            <noscript>
                <div class="alert alert-block col-md-12">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>
                        You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                        enabled to use this site.
                    </p>
                </div>
            </noscript>
            <div id="content" class="col-lg-10 col-sm-10">

            <!--Thông báo alert-->
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                    @TempData["AlertMessage"]
                </div>
            }          
                <!-- content starts -->
                @RenderBody()
                <!-- content ends -->
            </div><!--/#content.col-md-0-->
        </div><!--/fluid-row-->
        <hr>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Settings</h3>
                    </div>
                    <div class="modal-body">
                        <p>Here settings can be configured...</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row">
            <p class="col-md-9 col-sm-9 col-xs-12 copyright">
                &copy; <a href="https://www.facebook.com/hoandz123" target="_blank">
                    Công ty:
                    Hoàn đa cấp
                </a> 11 tuổi
            </p>
            <p class="col-md-3 col-sm-3 col-xs-12 powered-by">
                Hỗ trợ: <a href="https://www.facebook.com/profile.php?id=100003609257775">thayphet.net</a>
            </p>
        </footer>
    </div>
</body>
</html>

